@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background:linear-gradient(#0F0F0F,#435585);
    width: 100vw;
    height: 100vh;
    /* height:  100vh; */
    /* display: flex;
    align-items: center; */
    /* width: 100vw; */
    /* justify-content: center; */
}

.container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.sidebar {
    background: linear-gradient(#435585,#818FB4);
    /* width: 15rem; */
    height: 100vh;
    transition: transform 0.3s ease-in;
    /* display: none; */
}

.sidebar nav {
    padding: 2.5rem; /* Responsive padding */
}

.sidebar nav li {
    list-style: none;
    font-size: 2.5rem; /* Responsive font size */
    padding: 2rem 0;
}

.sidebar nav li a {
    text-decoration: none;
    color: #52D3D8;
}

.sidebarGo {
    transform: translate(-443px, 0);
    /* position: absolute; */
}

.main {
    width: 90%;
    height: 100vh;
    display: flex;
    /* justify-content: center; */
    justify-content: center;
    align-items: center;
}

.infoContainer {
    width: 70rem;
    height: 80vh;
    /* margin: 10vw auto; */
    display: flex;
    justify-content: center;
}

.devPic img {
    height: 20vw; /* Responsive image height */
    max-width: 100%; /* Ensure image does not exceed container width */
}

.devInfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hello {
    color: #7360DF;
    padding: 0;
    margin-bottom: 1rem;
    font-size: 4rem; /* Responsive font size */
    line-height: 1.5rem;

}

.name h1 {
    padding: 0;
    font-size: 4rem; /* Responsive font size */
    margin-top: 0;
    font-weight: bold;
    background: linear-gradient(to right,#0174BE,#00A9FF,#A0E9FF);
    background-clip: text;
    color: transparent;
    line-height: 4.6rem;
}

.about {
    font-size: 2rem; /* Responsive font size */
    background: linear-gradient(to right,#FFB534,#FFC47E);
    background-clip: text;
    color: transparent;
}
.buttons{
    margin-top: 1rem;
}

.buttons button {
    padding: 0.1vw 0.45vw; /* Responsive padding */
    border-radius: 0.7rem; /* Responsive border-radius */
    margin: 0.5rem 1rem; /* Responsive margin */
    font-weight: bold;
    font-size: 1.7rem; 
    background: linear-gradient(#FF6666,#FCAEAE);;
    cursor: pointer;
    margin-top: 1.5%;
    color: #001C30;
    /* color:; */
}

button:hover {
    color: #090580;
    background: white;
}

/* Your existing styles... */

.hamburger {
    position: absolute;
    cursor: pointer;
    top: 1rem; /* Responsive top position */
    left: 2rem; /* Responsive left position */
    /* display: flex; */
}

.menu,
.close {
    width: 1.5rem; /* Responsive width */
    height: 1.5rem; 
    margin-top: 0.3rem; 
    color: #FC4F00;
}

.close {
    margin-left: 10rem;
    /* margin-top: 1vw; */
} 

/* Your existing styles... */


@media screen and (max-width: 1350px) {
  
    .infoContainer {
        width: 50rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .name h1{
        display: flex;
        justify-content: center;
        line-height: 4rem;
        font-size: 4rem;
    }

    .hello{
        display: flex;
        justify-content: center;
        line-height: 2rem;
        font-size: 2rem;
    }
    .about{
        display: flex;
        max-width: 40rem;
        /* flex-wrap: wrap; */
        justify-content: center;
        line-height: 1rem;
        font-size: 1rem;
    }
    .buttons{
        display: flex;
        justify-content: center;
        gap: 2rem;
    }
    .sidebar{
        width: 10rem;
        
    }
    .sidebar nav li {
        list-style: none;
        font-size: 1rem; /* Responsive font size */
        padding: 1.5rem 0;
    }
    .close {
        margin-left: 5.5rem;
        /* margin-top: 1vw; */
    } 
}

@media screen and (max-width: 1000px){
    .close {
        margin-left: 4rem;
        /* margin-top: 1vw; */
    }
}

@media screen and (max-width: 750px){
    .sidebar{
        height: 100vh;
    }
   
    .infoContainer {
        width: 50rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .hello{
      
        line-height: 1rem;
        font-size: 2.5rem;
    }
    .name h1{
        display: flex;
        justify-content: center;
        line-height: 3rem;
        font-size: 3rem;
    }
    .sidebar{
        width: 8rem;
        justify-content: center;
    }
    .close {
        margin-left: 1.5rem;
        /* margin-top: 1vw; */
    }
    .sidebar nav li {
        /* list-style: none; */
        font-size: 1rem; /* Responsive font size */
        line-height: 0.8rem;
        /* padding: 1.5rem 0; */
        padding-left: 1rem;
    }
    .buttons button {
        padding: 0.1rem 0.45rem; 
        border-radius: 0.7rem; 
        margin: 0.5rem 1rem; 
        font-size: 0.5rem; 
    }
}